@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta http-equiv=Content-Type content='text/html; charset=utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>BRO | @ViewBag.Title</title>

    <link rel="shortcut icon" href="~/Content/myPics/BRO.ICO">


    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
    <link href="~/Content/myCSS/timeout-dialog.css" rel="stylesheet" />
    <script src="~/Content/myJavascripts/timeout-dialog.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">

    @*@Scripts.Render("~/javascript");*@

    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            var fnTimeOut = function () {
                jQuery.timeoutDialog.setupDialogTimer({
                    timeout: 105,
                    countdown: 100,
                    logout_redirect_url: '@Url.Action("Logout", "Home")',
                    keep_alive_url: '@Url.Action("Keepalive", "Home")'
               });
            };
            fnTimeOut();
        });
    </script>
</body>
</html>
