@model BRO.Models.ForgotPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutNoLftSBMenu.cshtml";
}

<section class="content-header">
    <h1>Forgot Password</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <input type="button" class="btn btn-default" value="Back"
                            onclick='window.location = "@Url.Action("Login", "Home")";'
                           onclick="history.go(-1)" />
                </div><!-- /.box-header -->

                <!-- Horizontal Form -->
                <!-- form start -->
                @using (Html.BeginForm("ForgotPassword", "Password", FormMethod.Post, new { id="formForgotPass", name="formForgotPass", role = "form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Login ID : </label>
                            <div id="divLoginID" class="col-sm-5">
                                <input class="form-control" id="txtLoginID" name="txtLoginID"
                                       onfocus="clearError('LoginID');" maxlength="10" primaryKey>
                                <span id="errorLoginID" class="help-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="button" id="btnSubmit" class="btn btn-info pull-right" style="width: 180px">Reset and Generate</button>
                    </div> <!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
</section><!-- /.content -->

<script>
    //=== UpperCase Login Index
    $('#txtLoginID').keyup(function () {
        $(this).val($(this).val().toUpperCase());
    });

    //=== Remove validation messages when a text-field is onfocus
    function clearError(fieldName) {
        $("#div" + fieldName).removeClass("has-error");
        document.getElementById("error" + fieldName ).innerHTML = "" 
    };

    $('#btnSubmit').click(function () {

        if ($("#txtLoginID").val() == "") {
            document.getElementById("divLoginID").className += ' has-error'
            document.getElementById("errorLoginID").innerHTML = "Please enter a Login ID"
            return false;
        }
        else {
            //var url = $(this).attr("action");
            var url = 'Password/ForgotPassword'
            var formData = $('#formForgotPass').serialize();

            $.ajax({

                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (response) {

                    if (response.status == "success") {
                        
                        alert('Your PASSWORD reset link has been successfully sent to the Email attached to ' + $("#txtLoginID").val() );
                        window.location.href = 'Home/Login';

                    } else if (response.status == "fail") {

                        $("#div" + response.fieldname).toggleClass('has-error', 'add');
                        $("#error" + response.fieldname).html(response.message);
                        return false;
                    }
          
                },

                error: function (response) {
                    alert("Error! : " + response.responseText);
                    return false;

                }
            })
        }
    });

</script>







