﻿@{

    ViewBag.Title = "Password";
    Layout = "~/Views/Shared/_LayoutPassword.cshtml";
}

<section class="content-header">
    <h1>Password Information</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <!-- Horizontal Form -->
                <!-- form start -->
                @using (Html.BeginForm("Password", "Password", FormMethod.Post, new { id = "formPassword", name = "formPassword", role = "form", @class = "form-horizontal" }))
                {
                    var data = ViewBag.FieldValue;
                    @Html.AntiForgeryToken()
                    @*<form class='filter-form'>
                        <h3>Filters</h3>
                        <div>
                            <label>Login ID :</label>
                            <input type='text' value='' class='filter' data-column-index='1'>
                        </div>
                        <div>
                            <label>Name :</label>
                            <input type='text' value='' class='filter' data-column-index='2'>
                        </div>
                        <div>
                            <label>Date Created :</label>
                            <input type='text' value='' class='filter' data-column-index='3'>
                        </div>
                    </form>*@
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">


                                <table id="tablePassword" class="table table-bordered" width="100%">
                                    <thead>
                                        <tr role="row">
                                            <th class="NoCol">No</th>
                                            <th class="LOGIN_IDCol">* Login ID</th>
                                            <th class="NAMECol">* Name</th>
                                            <th class="DT_EDITCol">Date Edited</th>
                                            <th style="text-align:center" class="EditCol">Edit</th>
                                        </tr>
                                    </thead>
                                    @*<tfoot class="filters">
                                        <tr role="row">
                                            <th></th>
                                            <th>Login ID</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>*@
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div><!-- /.box -->
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
</section><!-- /.content -->
<script>

    ////=== Setup - add a text input to each footer cell
    //$('#tablePassword tfoot th').each(function () {
    //    var title = $(this).text();
    //    //var title = $('#tablePassword tfoot th').eq($(this).index()).text();
    //    if (title) {
    //        $(this).html('<input type="text" name="search" class="form-control input-sm" placeholder="Search ' + title + ' " aria-controls="tablePassword" />');
    //    }
    //});

    var table = $('#tablePassword').DataTable({

        "processing": true, // control the processing indicator.
        "serverSide": true, // recommended to use serverSide when data is more than 10000 rows for performance reasons
        "info": true,   // control table information display field
        //"stateSave": true,  //remain table state on AFTER SAVE OR UPDATE OR BACK
        "lengthChange": true,
        "lengthMenu": [[5, 20, 50, -1], [5, 20, 50, "All"]],    // use the first inner array as the page length values and the second inner array as the displayed options
        "colReorder": true,
        "orderMulti": true, // for disable multiple column at once
        //"order": [[ 2, "asc" ], [ 1, "desc" ]],
        "order": [["3", "desc"]], //=== Not working during stateSave

        "ajax":{
            "url": "/Password/AjaxGetJsonData",
            "type": "GET"
        },

        "columnDefs": [
            {
                "targets": 'NoCol',
                "orderable": false, "width": "5%",
                "render": function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            {
                "targets": 'LOGIN_IDCol',
                "data": "LOGIN_ID", "orderable": true
            },
            {
                "targets": 'NAMECol',
                "data": "NAME", "orderable": true
            },
            {
                "targets": 'DT_EDITCol',
                "data": "DT_CREATE", "orderable": true
            },
            {
                "targets": 'EditCol',
                "className": "text-center","orderable": false,
                "render": function (data, type, full, meta) {
                    return '<a href="/Password/PasswordDet/' + full.AUTOINC + '"><img src="../../Content/myPics/edit-2-24.png" ></a>';
                }
            }
        ],

        "dom" :
            "<'row'<'col-sm-2'l><'col-sm-7'B><'col-sm-3'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-5'i><'col-sm-7'p>>",

        "buttons" : [
            {
                text: 'New',
                className: "btn btn-primary",
                action: function (e, dt, node, config) {
                    window.location.href = '@Url.Action("PasswordDet", "Password")';
                },
            },
            {
                extend: 'copy',
                text: 'Copy',
                className: "btn btn-info",
                exportOptions: {
                    columns: [0, 1, 2, 3],
                },
            },
            {
                extend: 'excel',
                text: 'Excel',
                className: "btn btn-success",
                exportOptions: {
                    columns: [0, 1, 2, 3],
                },
            },
            {
                extend: 'print',
                text: 'Print all',
                autoPrint: false,
                className: "btn btn-warning",
                exportOptions: {
                    modifier: {
                        selected: null
                    },
                    columns: [0, 1, 2, 3],
                },
            }
        ],

        //select: true,

        initComplete: function () {
            //var r = $('#tablePassword tfoot tr');

            //r.find('th').each(function () {
            //    $(this).css('padding', 8);
            //});

            //$('#tablePassword thead').append(r);
            //$('#search_0').css('text-align', 'center');

            $(".dt-button").removeClass("dt-button");
        },

    });

        //table.on('order.dt search.dt', function () {
        //    table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
        //        cell.innerHTML = i + 1;
        //    });
        //}).draw();

    $('div.dataTables_filter input').focus() //=== set focus on Search field

    $('#tablePassword tbody').on('click', 'tr', function () {
        //=== DEBUG PURPOSE: console.log(table.row(this).data());
        var data = table.row(this).data();
        window.location.href = '@Url.Action("PasswordDet", "Password")/' + data["AUTOINC"];
    });

    //table.columns().every( function () {
    //var that = this;

    //$( 'input', this.footer() ).on( 'keyup change', function () {
    //    if ( that.search() !== this.value ) {
    //        that
    //            .search( this.value )
    //            .draw();
    //        }
    //    } );
    //} );

    //$('body').on('click', '#btnGet', function () {

    //    //to get currently clicked row object
    //    var row = $(this).parents('tr')[0];

    //    //to get currently clicked row data
    //    var rowData = table.row(row).data();

    //    //to get currently clicked row id (first column value (at index [0])
    //    var rowId = rowData[0];
    //});

    //table.columns().eq(0).each(function (colIdx) {

    //    $('input', $('.filters td')[colIdx]).bind('keyup change', function () {
    //        var searchColIndex = $(this).parent().index();
    //        var columnIndex = colIdx;

    //        if (searchColIndex == columnIndex) {

    //            var valuedata = $(this).val();
    //            //table.column(0).search($(this).val()).draw();
    //            table
    //                .column(colIdx)
    //                .search(valuedata)
    //                .draw();
    //        }
    //    });
    //});
 
    $(document).ready(function () {

        // Setup - add a text input to each footer cell
        //$('#tablePassword tfoot th').each(function () {
        //    var title = $(this).text();
        //    if(title){
        //        $(this).html('<input type="text" id="column1_search" placeholder="Search ' + title + '" />');
        //    }
        //});

        //$('#column1_search').on('keyup', function () {
        //    table
        //        .columns(1)
        //        .search(this.value)
        //        .draw();
        //});

        // DataTable
        //var table = $('#example').DataTable();

        // Apply the search
        //table.columns().every(function () {
        //    var that = this;

        //    $('input', this.footer()).on('keyup change', function () {
        //        if (that.search() !== this.value) {
        //            that
        //                .search(this.value)
        //                .draw();
        //        }
        //    });
        //});
    });
</script>



