@model BRO.Models.PasswordModel

@{
    ViewBag.Title = "Password Detail";
    Layout = "~/Views/Shared/_LayoutPassword.cshtml";
}

<section class="content-header">
    <h1>Password Detail</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <input type="button" class="btn btn-default" value="Back"
                           onclick="history.go(-1)" />
                </div><!-- /.box-header -->
                <!-- Horizontal Form -->
                <!-- form start -->
                @using (Html.BeginForm("PasswordDet", "Password", FormMethod.Post, new { id = "formPassDet", name = "formPassDet", role = "form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    //if(ViewBag.Message != null) {
                    var data = ViewBag.FieldValue;
                    //}
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Login ID : </label>
                            <div id="divLoginID" class="col-sm-4">
                                @if (data.txtLoginID == "")
                                {
                                    <input class="form-control" id="txtLoginID" name="txtLoginID"
                                           onfocus="clearError('LoginID');" maxlength="10" primaryKey>
                                    <span id="errorLoginID" class="help-block"></span>
                                }
                                else
                                {
                                    <span class="mod-form-control" >@data.txtLoginID</span>
                                    <input type="hidden" id="txtLoginID" name="txtLoginID" value="@data.txtLoginID" >
                                }

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name : </label>
                            <div id="divLoginID" class="col-sm-6">
                                <input class="form-control" id="txtName" name="txtName"  maxlength="30" value="@data.txtName" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Password : </label>
                            <div id="divPassword" class="col-sm-4">
                                <div class="input-group">
                                    <input id="txtPassword" name="txtPassword" type="password" 
                                           class="form-control" maxlength="30" onfocus="clearBoth('Password','Confirm');" >
                                    <div class="input-group-addon">
                                        <span toggle="#txtPassword" class="glyphicon glyphicon-eye-close toggle-password"></span>
                                    </div>
                                </div>
                                <span id="errorPassword" class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Confirm Password : </label>
                            <div id="divConfirm" class="col-sm-4">
                                <div class="input-group">
                                    <input id="txtConfirm" name="txtConfirm" type="password" 
                                           class="form-control" maxlength="30" onfocus="clearBoth('Password','Confirm');">
                                    <div class="input-group-addon">
                                        <span toggle="#txtConfirm" class="glyphicon glyphicon-eye-close toggle-password"></span>
                                    </div>

                                </div>
                                <span id="errorConfirm" class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        @if (data.txtLoginID == ""){
                            <button type="button" id="btnSubmit" class="btn btn-info pull-right" value="Save">Save</button>
                        }else{
                            <button type="button" id="btnDelete" class="btn btn-danger pull-left" value="Delete">Delete</button>
                            <button type="button" id="btnSubmit" class="btn btn-warning pull-right" value="Update">Update</button>
                        }
                    </div> <!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
</section><!-- /.content -->


<script>

    $('#txtLoginID').keyup(function () {
        $(this).val($(this).val().toUpperCase());
    });

    //=== Show and unshow password
    $(".toggle-password").click(function () {
        //=== Proper way of doing toggleClass for glyphicon and font-awesome
        $(this).toggleClass('glyphicon-eye-close', 'remove');
        $(this).toggleClass('glyphicon-eye-open', 'add');
        //=================================================================
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });

    $('#btnSubmit').click(function () {
    
        var sSaveOrUpdate = $("#btnSubmit").val()

        if ($("#txtLoginID").val() == "") {
            document.getElementById("divLoginID").className += ' has-error'
            document.getElementById("errorLoginID").innerHTML = "Please enter a Login ID"
            return false;
        }

        if(sSaveOrUpdate == "Save"){

            if ($("#txtPassword").val() == "") {
                document.getElementById("divPassword").className += ' has-error'
                document.getElementById("errorPassword").innerHTML = "Password cannot be empty"
                 document.getElementById("divConfirm").className += ' has-error'
                return false;
            }else if ($("#txtPassword").val() != $("#txtConfirm").val()) {
                document.getElementById("divPassword").className += ' has-error'
                document.getElementById("errorPassword").innerHTML = "Password does not match"
                document.getElementById("divConfirm").className += ' has-error'
                document.getElementById("errorConfirm").innerHTML = "Password does not match"
                return false;
            }else{
                var url = 'PasswordDet/' + $("#btnSubmit").val();
            }
        }

        if(sSaveOrUpdate == "Update"){

            if ($("#txtPassword").val() != "" ){
 
                if ($("#txtPassword").val() != $("#txtConfirm").val()) {
                    document.getElementById("divPassword").className += ' has-error'
                    document.getElementById("errorPassword").innerHTML = "Password does not match"
                    document.getElementById("divConfirm").className += ' has-error'
                    document.getElementById("errorConfirm").innerHTML = "Password does not match"
                    return false;
                }else{
                    var url = $("#btnSubmit").val();
                }
            }
        } 

        var formData = $('#formPassDet').serialize();

        $.ajax({

            url: url,
            type: "POST",
            data: formData,
            dataType: "json",
            success: function (response) {

                if (response.status == "saved") {

                    alert($("#txtLoginID").val() + ' has been successfully created! ');
                    window.location.href = 'Password';

                } else if (response.status == "updated") {

                    alert($("#txtLoginID").val() + ' has been successfully updated! ');
                    window.location.href = '../Password/';

                }
                else if (response.status == "fail") {
                        
                    $("#div" + response.fieldname).toggleClass('has-error', 'add');
                    $("#error" + response.fieldname).html(response.message);
                    return false;
                }
            },

            error: function (response) {
                    alert("Something went wrong somewhere");
                    return false;
            }
        })
    });
</script>


