@{

    ViewBag.Title = "Password";
    Layout = "~/Views/Shared/_LayoutPassword.cshtml";
}

<style>
    /*=== Header */
    table.dataTable thead tr th {
        padding-top: 4px;
        padding-bottom: 4px;
        background-color: #3c8dbc;
        color: white;
    }

    /*=== Row tr */
    table.dataTable tbody td {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    /*=== Sorting glyphicon*/
    table.dataTable thead th.sorting:after,
    table.dataTable thead th.sorting_asc:after,
    table.dataTable thead th.sorting_desc:after {
        top: 3px;
        opacity: 1;
    }

    /*=== Odd row color*/
    .odd {
        background-color: lightskyblue;
    }

    /*=== Even row color*/
    .even {
        background-color: #ecf0f5;
    }

    /*=== Hover*/
    #tablePassword tbody tr.odd:hover {
        background-color: lightgray;
        cursor: pointer;
    }

    #tablePassword tbody tr.even:hover {
        background-color: lightgray;
        cursor: pointer;
    }

    /*=== Pagingnation background color*/
    .pagination li a {
        background-color: #ecf0f5;
    }

    .pagination .disabled a {
        background-color: #ecf0f5;
    }
</style>

@*<script src="https://cdn.datatables.net/colreorder/1.5.1/css/colReorder.bootstrap4.min.css"></script>
<script src="https://cdn.datatables.net/colreorder/1.5.1/js/dataTables.colReorder.min.js"></script>*@
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>


<section class="content-header">
    <h1>Password Information</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <!-- Horizontal Form -->
                <!-- form start -->
                @using (Html.BeginForm("Password", "Password", FormMethod.Post, new { id = "formPassword", name = "formPassword", role = "form", @class = "form-horizontal" }))
                {
                    var data = ViewBag.FieldValue;
                    @Html.AntiForgeryToken()

                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="tablePassword" class="table table-bordered" width="100%">
                                    <thead>
                                        <tr role="row">
                                            <th class="NumCol">No</th>
                                            <th class="LoginCol">* Login ID</th>
                                            <th class="NameCol">* Name</th>
                                            <th class="DtCreatedCol">Date Created</th>
                                            <th style="text-align:center" class="EditCol">Edit</th>
                                        </tr>
                                    </thead>
                                    <tfoot class="filters">
                                        <tr role="row">
                                            <th></th>
                                            <th>Login ID</th>
                                            <th>Name</th>
                                            <th>Date Created</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div><!-- /.box -->
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
</section><!-- /.content -->
<script>

    //=== Setup - add a text input to each footer cell
    $('#tablePassword tfoot th').each(function () {
        var title = $(this).text();
        //var title = $('#tablePassword tfoot th').eq($(this).index()).text();
        if (title) {
            $(this).html('<input type="search" class="form-control input-sm" placeholder="Search ' + title + '" aria-controls="tablePassword" />');
        }
    });

    $(document).ready(function () {

        var Length1 = 5; //@Session["LENGTH1"];
        var Length2 = parseInt(Length1) * 2;
        var Length3 = parseInt(Length1) * 5;

        $('div.dataTables_filter input').focus() //=== set focus on Search field

        $('#tablePassword tbody').on('click', 'tr', function () {
            //=== DEBUG PURPOSE: console.log(table.row(this).data());
            var data = table.row(this).data();
            window.location.href = '@Url.Action("PasswordDet", "Password")/' + data["AutoINC"];
        });

        var table = $('#tablePassword').DataTable({


            "paging": true,
            "ordering": true,
            "filter": false,
            "destroy": true,
            "processing": true, // control the processing indicator.
            "serverSide": true, // recommended to use serverSide when data is more than 10000 rows for performance reasons
            "info": true,   // control table information display field
            //"stateSave": true,  //remain table state on AFTER SAVE OR UPDATE OR BACK
            "lengthChange": true,
            "lengthMenu": [[Length1, Length2, Length3, -1], [Length1, Length2, Length3, "All"]],    // use the first inner array as the page length values and the second inner array as the displayed options
            "colReorder": true,
            "orderMulti": true, // for disable multiple column at once
            //"order": [[ 2, "asc" ], [ 1, "desc" ]],

            "language": {
                searchPlaceholder: "Search records"
            },
            "bFilter": true,
            "order": [["3", "desc"]], //=== Not working during stateSave

            "ajax":{
                "url": "/Password/AjaxGetJsonData",
                "type": "POST"
            },

            "columnDefs": [
                {
                    "width": "5%", "targets": 'NumCol', "data": "id",
                    "orderable": false,
                    "render": function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                {
                    "targets": 'LoginCol', // The third column
                    "data": "LoginID", "orderable": true
                },
                {
                    "targets": 'NameCol', // The third column
                    "data": "Name", "orderable": true
                },
                {
                    "targets": 'DtCreatedCol', // The third column
                    "data": "DateCreated", "orderable": true
                },
                {
                    "targets": 'EditCol', // The third column
                    "className": "text-center",
                    "orderable": false,
                    "render": function (data, type, full, meta) {
                        return '<a href="/Password/PasswordDet/' + full.AutoINC + '"><img src="../../Content/myPics/edit-2-24.png" ></a>';
                    }
                }
            ],

            "dom":
                "<'row'<'col-sm-2'l><'col-sm-7'B><'col-sm-3'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",

            "buttons" : [
                {
                    text: 'New',
                    className: "btn btn-primary",
                    action: function (e, dt, node, config) {
                        window.location.href = '@Url.Action("PasswordDet", "Password")';
                    },
                },
                {
                    extend: 'copy',
                    text: 'Copy',
                    className: "btn btn-info",
                    exportOptions: {
                        columns: [0, 1, 2, 3],
                    },
                },
                {
                    extend: 'excel',
                    text: 'Excel',
                    className: "btn btn-success",
                    exportOptions: {
                        columns: [0, 1, 2, 3],
                    },
                },
                {
                    extend: 'print',
                    text: 'Print all',
                    className: "btn btn-warning",
                    exportOptions: {
                        modifier: {
                            selected: null
                        },
                        columns: [0, 1, 2, 3],
                    },
                    autoPrint: false,
                }
            ],

            //select: true,

            initComplete: function () {
                var r = $('#tablePassword tfoot tr');

                r.find('th').each(function () {
                    $(this).css('padding', 8);
                });

                $('#tablePassword thead').append(r);

                $(".dt-button").removeClass("dt-button");
            },

        });

        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters td')[colIdx]).bind('keyup change', function () {

                table.column(0).search(colIdx + '|' + this.value).draw();
                //table.column(0).search($(this).val()).draw();
                //table
                //    .column(colIdx)
                //    .search(this.value)
                //    .draw();
            });
        });

        //table.columns('.select-filter').every(function () {
        //    var that = this;

        //    // Create the select list and search operation
        //    var select = $('<select />')
        //        .appendTo(
        //            this.footer()
        //        )
        //        .on('change', function () {
        //            that
        //                .search($(this).val())
        //                .draw();
        //        });

        //    // Get the search data for the first column and add to the select list
        //    this
        //        .cache('search')
        //        .sort()
        //        .unique()
        //        .each(function (d) {
        //            select.append($('<option value="' + d + '">' + d + '</option>'));
        //        });
        //});



        

        // Setup - add a text input to each footer cell
        //$('#example tfoot th').each(function () {
        //    var title = $(this).text();
        //    $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        //});

        // Apply the search
        //table.columns().every(function () {
        //    var that = this;

        //    $('input', this.footer()).on('keyup change', function () {
        //        if (that.search() !== this.value) {
        //            that
        //                .search(this.value)
        //                .draw();
        //        }
        //    });
        //});

    });
</script>







