@model BRO.Models.PasswordModel

@{
    ViewBag.Title = "Password Detail";
    Layout = "~/Views/Shared/_LayoutPassword.cshtml";
}

<section class="content-header">
    <h1>Password Detail</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <input type="button" class="btn btn-default" value="Back"
                           onclick="history.go(-1)" />
                </div><!-- /.box-header -->
                <!-- Horizontal Form -->
                <!-- form start -->
                @using (Html.BeginForm("PasswordDet", "Password", FormMethod.Post, new { id = "formPassDet", name = "formPassDet", role = "form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    //if(ViewBag.Message != null) {
                    var data = ViewBag.FieldValue;
                    //}
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Login ID : </label>
                            <div id="divLOGIN_ID" class="col-sm-4">
                                @if (data.LOGIN_ID == "")
                                {
                                    <input class="form-control" id="txtLOGIN_ID" name="txtLOGIN_ID"
                                           onfocus="clearError('LOGIN_ID');" maxlength="10" primaryKey>
                                    <span id="errorLOGIN_ID" class="help-block"></span>
                                }
                                else
                                {
                                    <span class="mod-form-control">@data.LOGIN_ID</span>
                                    <input type="hidden" id="txtLOGIN_ID" name="txtLOGIN_ID" value="@data.LOGIN_ID">
                                }

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name : </label>
                            <div id="divLOGIN_ID" class="col-sm-6">
                                <input class="form-control" id="txtNAME" name="txtNAME" maxlength="30" value="@data.NAME">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Password : </label>
                            <div id="divPASSWORD" class="col-sm-4">
                                <div class="input-group">
                                    <input id="txtPASSWORD" name="txtPASSWORD" type="PASSWORD"
                                           class="form-control" maxlength="30" onfocus="clearBoth('PASSWORD','CONFIRM');">
                                    <div class="input-group-addon">
                                        <span toggle="#txtPASSWORD" class="glyphicon glyphicon-eye-close toggle-PASSWORD"></span>
                                    </div>
                                </div>
                                <span id="errorPASSWORD" class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Confirm Password : </label>
                            <div id="divCONFIRM" class="col-sm-4">
                                <div class="input-group">
                                    <input id="txtCONFIRM" name="txtCONFIRM" type="PASSWORD"
                                           class="form-control" maxlength="30" onfocus="clearBoth('PASSWORD','CONFIRM');">
                                    <div class="input-group-addon">
                                        <span toggle="#txtCONFIRM" class="glyphicon glyphicon-eye-close toggle-PASSWORD"></span>
                                    </div>
                                </div>
                                <span id="errorCONFIRM" class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        @if (data.LOGIN_ID == "")
                        {
                            <button type="button" id="btnSubmit" class="btn btn-info pull-right" value="Save">Save</button>
                        }
                        else
                        {
                            <button type="button" id="btnDelete" class="btn btn-danger pull-left" value="Delete">Delete</button>
                            <button type="button" id="btnSubmit" class="btn btn-warning pull-right" value="Update">Update</button>
                        }
                    </div> <!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
</section><!-- /.content -->

<script src="~/Content/myJavascripts/myJavascripts.js"></script>

<script>

    $('#txtLOGIN_ID').keyup(function () {
        $(this).val($(this).val().toUpperCase());
    });

    $('#btnSubmit').click(function () {

        var sSaveOrUpdate = $("#btnSubmit").val()

        if ($("#txtLOGIN_ID").val() == "") {
            document.getElementById("divLOGIN_ID").className += ' has-error'
            document.getElementById("errorLOGIN_ID").innerHTML = "Please enter a Login ID"
            return false;
        }

        if(sSaveOrUpdate == "Save"){

            if ($("#txtPASSWORD").val() == "") {
                document.getElementById("divPASSWORD").className += ' has-error'
                document.getElementById("errorPASSWORD").innerHTML = "Password cannot be empty"
                 document.getElementById("divCONFIRM").className += ' has-error'
                return false;
            }else if ($("#txtPASSWORD").val() != $("#txtCONFIRM").val()) {
                document.getElementById("divPASSWORD").className += ' has-error'
                document.getElementById("errorPASSWORD").innerHTML = "Password and Confirm Password does not match"
                document.getElementById("divCONFIRM").className += ' has-error'
                document.getElementById("errorCONFIRM").innerHTML = "Password and Confirm Password does not match"
                return false;
            }else{
                var url = 'PasswordDet/' + $("#btnSubmit").val();
            }
        }

        if(sSaveOrUpdate == "Update"){

            if ($("#txtPASSWORD").val() != "" ){

                if ($("#txtPASSWORD").val() != $("#txtCONFIRM").val()) {
                    document.getElementById("divPASSWORD").className += ' has-error'
                    document.getElementById("errorPASSWORD").innerHTML = "PASSWORD does not match"
                    document.getElementById("divCONFIRM").className += ' has-error'
                    document.getElementById("errorCONFIRM").innerHTML = "PASSWORD does not match"
                    return false;
                }else{
                    var url = $("#btnSubmit").val();
                }
            }
        }

        var formData = $('#formPassDet').serialize();

        $.ajax({

            url: url,
            type: "POST",
            data: formData,
            dataType: "json",
            success: function (response) {

                if (response.status == "saved") {

                    alert($("#txtLOGIN_ID").val() + ' has been successfully created! ');
                    window.location.href = 'PASSWORD';

                } else if (response.status == "updated") {

                    alert($("#txtLOGIN_ID").val() + ' has been successfully updated! ');
                    window.location.href = '../PASSWORD/';

                }
                else if (response.status == "fail") {

                    $("#div" + response.fieldname).toggleClass('has-error', 'add');
                    $("#error" + response.fieldname).html(response.message);
                    return false;
                }
            },

            error: function (response) {
                    alert("Something went wrong somewhere");
                    return false;
            }
        })
    });
</script>


