@{
    ViewBag.Title = "Applications";
    Layout = "~/Views/Shared/_LayoutTop.cshtml";
}
<section class="content-header">
    <h1>
        Account Application
    </h1>
</section>
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <a href=@Url.Action("Applications", "Home") style="text-decoration:none">
                    <div class="inner" style="padding:10px;">
                        <h3 style="color:white">GL</h3>
                        <p>&nbsp;&nbsp;</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-document"></i>
                    </div>
                </a>
                <a href=@Url.Action("Applications", "Home") class="small-box-footer">General Ledger <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <a href=@Url.Action("Applications", "Home") style="text-decoration:none">
                    <div class="inner" style="padding:10px;">
                        <h3 style="color:white">AR</h3>
                        <p>&nbsp;&nbsp;</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-document"></i>
                    </div>
                </a>
                <a href=@Url.Action("Applications", "Home") class="small-box-footer">Account Receivable <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <a href=@Url.Action("Applications", "Home") style="text-decoration:none">
                    <div class="inner" style="padding:10px;">
                        <h3 style="color:white">AP</h3>
                        <p>&nbsp;&nbsp;</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-document"></i>
                    </div>
                </a>
                <a href=@Url.Action("Applications", "Home") class="small-box-footer">Account Payable <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <a href=@Url.Action("Applications", "Home") style="text-decoration:none">
                    <div class="inner" style="padding:10px;">
                        <h3 style="color:white">TAX</h3>
                        <p>&nbsp;&nbsp;</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-document"></i>
                    </div>
                </a>
                <a href=@Url.Action("Applications", "Home") class="small-box-footer">Tax System <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <a href=@Url.Action("Applications", "Home") style="text-decoration:none">
                    <div class="inner" style="padding:10px;">
                        <h3 style="color:white">QUO</h3>
                        <p>&nbsp;&nbsp;</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-document"></i>
                    </div>
                </a>
                <a href=@Url.Action("Applications", "Home") class="small-box-footer">Quotation System <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <a href=# style="text-decoration:none">
                    <div class="inner" style="padding:10px;">
                        <h3 style="color:white">FA</h3>
                        <p>&nbsp;&nbsp;</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-document"></i>
                    </div>
                </a>
                <a href="#" class="small-box-footer">Fixed Asset <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <h1 style="font-size:24px;font-weight: 500;">MRP Application</h1>
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <a href=@Url.Action("Stock", "IC") style="text-decoration:none">
                    <div class="inner" style="padding:10px;">
                        <h3 style="color:white">IC</h3>
                        <p>&nbsp;&nbsp;</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-document"></i>
                    </div>
                </a>
                <a href=@Url.Action("Stock", "IC") class="small-box-footer">Inventory Control <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <a  href="#" style="text-decoration:none">
                    <div class="inner" style="padding:10px;">
                        <h3 style="color:white">SO</h3>
                        <p>&nbsp;&nbsp;</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-document"></i>
                    </div>
                </a>
                <a  href="#" class="small-box-footer">Sales Order <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <a href="#" style="text-decoration:none">
                    <div class="inner" style="padding:10px;">
                        <h3 style="color:white">PO</h3>
                        <p>&nbsp;&nbsp;</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-document"></i>
                    </div>
                </a>
                <a href="#" class="small-box-footer">Purchase Order <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <a href="#" style="text-decoration:none">
                    <div class="inner" style="padding:10px;">
                        <h3 style="color:white">BOM</h3>
                        <p>&nbsp;&nbsp;</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-document"></i>
                    </div>
                </a>
                <a href="#" class="small-box-footer">Bill Of Material<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <a href="#" style="text-decoration:none">
                    <div class="inner" style="padding:10px;">
                        <h3 style="color:white">PD</h3>
                        <p>&nbsp;&nbsp;</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-document"></i>
                    </div>
                </a>
                <a href="#" class="small-box-footer">Production Control <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <h1 style="font-size:24px;font-weight: 500;">Human Resource Application</h1>
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <a href="#" style="text-decoration:none">
                    <div class="inner" style="padding:10px;">
                        <h3 style="color:white">PAY</h3>
                        <p>&nbsp;&nbsp;</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-document"></i>
                    </div>
                </a>
                <a href="#" class="small-box-footer">Payroll <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <a href="#" style="text-decoration:none">
                    <div class="inner" style="padding:10px;">
                        <h3 style="color:white">TM</h3>
                        <p>&nbsp;&nbsp;</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-document"></i>
                    </div>
                </a>
                <a href="#" class="small-box-footer">Time Management <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <a href="#" style="text-decoration:none">
                    <div class="inner" style="padding:10px;">
                        <h3 style="color:white">HR</h3>
                        <p>&nbsp;&nbsp;</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-document"></i>
                    </div>
                </a>
                <a href="#" class="small-box-footer">Human Resource <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
</section>

            
