
@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_LayoutNoLftSB.cshtml";
}
<style>
    i.adjust {
        position: relative;
        font-size: 0.9em;
        top: -17px;
        // However big you want it to be
    }
</style>

<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <a href="Applications">
                <div class="info-box" style="min-height:50px">
                    <span class="info-box-icon bg-aqua" style="height:55px;"><i class="fa fa-building adjust"></i></span>
                    <div class="info-box-content" style="margin-left:100px">
                        <span class="info-box-text">BRO</span>
                        <span class="info-box-number">BRO Software House</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <a href="Applications">
                <div class="info-box" style="min-height:50px">
                    <span class="info-box-icon bg-yellow" style="height:55px;"><i class="fa fa-building adjust"></i></span>
                    <div class="info-box-content" style="margin-left:100px">
                        <span class="info-box-text">YANTA</span>
                        <span class="info-box-number">YANTA PLASTIC TESTING WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <a href="Applications">
                <div class="info-box" style="min-height:50px">
                    <span class="info-box-icon bg-green" style="height:55px;"><i class="fa fa-building adjust"></i></span>
                    <div class="info-box-content" style="margin-left:100px">
                        <span class="info-box-text">WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW</span>
                        <span class="info-box-number">WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </a>
        </div>
    </div>
</section>