@{

    ViewBag.Title = "Stock";
    Layout = "~/Views/Shared/_LayoutIC.cshtml";
}

<section class="content-header">
    <h1>Stock Information</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <!-- Horizontal Form -->
                <!-- form start -->
                @using (Html.BeginForm("Stock", "Stock", FormMethod.Post, new { id = "formStock", name = "formStock", role = "form", @class = "form-horizontal" }))
                {
                    var data = ViewBag.FieldValue;
                    @Html.AntiForgeryToken()

                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="tableicstk" class="table table-bordered" width="100%">
                                    <thead>
                                        <tr role="row">
                                            <th class="NumCol">No</th>
                                            <th class="StkCodeCol">Stock Code</th>
                                            <th class="PartCol">Description 1</th>
                                            <th class="Part1Col">Description 2</th>
                                            <th class="Part2Col">Description 3</th>
                                            <th class="UnitCol">Unit</th>
                                            <th class="LocCol">Location</th>
                                            <th class="GrpCol">Group</th>
                                            <th class="CostCol">Cost</th>
                                            <th class="S_PriceCol">Selling Price</th>
                                            <th class="Avg_CostCol">Avg Cost</th>
                                            @*<th class="ReorderCol">Reorder Level</th>
                                            <th class="MaximumCol">Max Level</th>
                                            <th class="MinimumCol">Min Level</th>
                                            <th class="RemarkCol">Remark</th>
                                            <th class="BalQtyCol">Bal Qty</th>
                                            <th class="BalValueCol">Bal Value</th>
                                            <th class="Dt_EditCol">Date Updated</th>
                                            <th class="Edit_IDCol">User ID</th>*@
                                            <th style="text-align:center" class="EditCol">Edit</th>
                                        </tr>
                                    </thead>
                                    <tfoot class="filters">
                                        <tr role="row">
                                            <th></th>
                                            <th>Stock Code</th>
                                            <th>Description 1</th>
                                            <th>Description 2</th>
                                            <th>Description 3</th>
                                            <th>Unit</th>
                                            <th>Location</th>
                                            <th>Group</th>
                                            <th>Cost</th>
                                            <th>Selling Price</th>
                                            <th>Avg Cost</th>
                                            @*<th>Reorder Level</th>
                                            <th>Max Level</th>
                                            <th>Min Level</th>
                                            <th>Remark</th>
                                            <th>Bal Qty</th>
                                            <th>Bal Value</th>
                                            <th>Date Updated</th>
                                            <th>User ID</th>*@
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div><!-- /.box -->
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
</section><!-- /.content -->

<script>

    $(document).ready(function () {

        var Length1 = 5; //@Session["LENGTH1"];
        var Length2 = parseInt(Length1) * 2;
        var Length3 = parseInt(Length1) * 5;

        var table = $('#tableicstk').DataTable({

            "paging": true,
            "ordering": true,
            "filter": false,
            "destroy": true,
            "processing": true, // control the processing indicator.
            "serverSide": true, // recommended to use serverSide when data is more than 10000 rows for performance reasons
            "info": true,   // control table information display field
            //"stateSave": true,  //remain table state on AFTER SAVE OR UPDATE OR BACK
            "lengthChange": true,
            "lengthMenu": [[Length1, Length2, Length3, -1], [Length1, Length2, Length3, "All"]],    // use the first inner array as the page length values and the second inner array as the displayed options
            "colReorder": true,
            "orderMulti": true, // for disable multiple column at once
            //"order": [[ 2, "asc" ], [ 1, "desc" ]],

            "language": {
                searchPlaceholder: "Search records"
            },
            
            "order": [["3", "desc"]], //=== Not working during stateSave

            "ajax":{
                "url": "/IC/AjaxGetJsonData",
                "type": "POST"
            },

            "columnDefs": [
                {
                    "width": "5%", "targets": 'NumCol', "data": "id",
                    "orderable": false,
                    "render": function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                { "targets": 'StkCodeCol', "data": "STKCODE", "orderable": true },
                { "targets": 'PartCol', "data": "PART", "orderable": true },
                { "targets": 'Part1Col', "data": "PART1", "orderable": true },
                { "targets": 'Part2Col', "data": "PART2", "orderable": true },
                { "targets": 'UnitCol', "data": "UNIT", "orderable": true },
                { "targets": 'LocCol', "data": "LOC", "orderable": true },
                { "targets": 'GrpCol', "data": "GRP", "orderable": true },
                { "targets": 'CostCol', "data": "COST", "orderable": true },
                { "targets": 'S_PriceCol', "data": "S_PRICE", "orderable": true },
                { "targets": 'Avg_CostCol', "data": "AVG_COST", "orderable": true },

                //{ "targets": 'StkCodeCol', "data": "STKCODE", "orderable": true, "width": "10%" },
                //{ "targets": 'PartCol', "data": "PART", "orderable": true, "width": "10%" },
                //{ "targets": 'Part1Col', "data": "PART1", "orderable": true, "width": "10%" },
                //{ "targets": 'Part2Col', "data": "PART2", "orderable": true, "width": "10%" },
                //{ "targets": 'UnitCol', "data": "UNIT", "orderable": true, "width": "10%" },
                //{ "targets": 'LocCol', "data": "LOC", "orderable": true, "width": "10%" },
                //{ "targets": 'GrpCol', "data": "GRP", "orderable": true, "width": "10%" },
                //{ "targets": 'CostCol', "data": "COST", "orderable": true, "width": "10%" },
                //{ "targets": 'S_PriceCol', "data": "S_PRICE", "orderable": true, "width": "10%" },
                //{ "targets": 'Avg_CostCol', "data": "AVG_COST", "orderable": true, "width": "10%" },

                { "targets": 'ReorderCol', "data": "REORDER", "orderable": true },
                { "targets": 'MaximumCol', "data": "MAXIMUM", "orderable": true },
                { "targets": 'MinimumCol', "data": "MINIMUM", "orderable": true },
                { "targets": 'RemarkCol', "data": "REMARK", "orderable": true },
                { "targets": 'BalQtyCol', "data": "BALQTY", "orderable": true },
                { "targets": 'BalValueCol', "data": "BALVALUE", "orderable": true },
                { "targets": 'Dt_EditCol', "data": "DT_EDIT", "orderable": true },
                { "targets": 'Edit_IDCol', "data": "EDIT_ID", "orderable": true },
                {
                    "targets": 'EditCol', 
                    "className": "text-center",
                    "orderable": false,
                    "render": function (data, type, full, meta) {
                        return '<a href="/Stock/StockDet/' + full.AutoINC + '"><img src="../../Content/myPics/edit-2-24.png" ></a>';
                    }
                }
            ],

            "dom":
                "<'row'<'col-sm-2'l><'col-sm-7'B><'col-sm-3'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",

            "buttons" : [
                {
                    text: 'New',
                    className: "btn btn-primary",
                    action: function (e, dt, node, config) {
                        window.location.href = '@Url.Action("StockDet", "IC")';
                    },
                },
                {
                    extend: 'copy',
                    text: 'Copy',
                    className: "btn btn-info",
                    exportOptions: {
                        columns: [0, 1, 2, 3],
                    },
                },
                {
                    extend: 'excel',
                    text: 'Excel',
                    className: "btn btn-success",
                    exportOptions: {
                        columns: [0, 1, 2, 3],
                    },
                },
                {
                    extend: 'print',
                    text: 'Print all',
                    className: "btn btn-warning",
                    exportOptions: {
                        modifier: {
                            selected: null
                        },
                        columns: [0, 1, 2, 3],
                    },
                    autoPrint: false,
                }
            ],

            //select: true,

            initComplete: function () {
                //var r = $('#tableicstk tfoot tr');

                //r.find('th').each(function () {
                //    $(this).css('padding', 8);
                //});

                //$('#tableicstk thead').append(r);

                $(".dt-button").removeClass("dt-button");
            },

        });

        //=== Setup - add a text input to each footer cell
        //$('#tableicstk tfoot th').each(function () {
        //    var title = $(this).text();
        //    //var title = $('#tableicstk tfoot th').eq($(this).index()).text();
        //    if (title) {
        //        $(this).html('<input type="search" placeholder="Search ' + title + '" aria-controls="tableicstk" />');
        //    }
        //});

        $('div.dataTables_filter input').focus() //=== set focus on Search field

        $('#tableicstk tbody').on('click', 'tr', function () {
            //=== DEBUG PURPOSE: console.log(table.row(this).data());
            var data = table.row(this).data();
            window.location.href = '@Url.Action("StockDet", "IC")/' + data["AutoINC"];
        });

    });
</script>







